/* Declaring custom properties */
* {
  /*box-sizing: border-box;*/
  /*border: thin solid black;*/
}

body {
  margin: 0;
  margin-top: -1em;
}

.carrito {
  background-color: black;
}

.carrito li {
  color: grey;
  list-style-type: none;
  text-align: right;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  background-color: #454545;
  margin-top: -1em;
}

.logo img {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.menu ul {
  padding: 0;
  margin: 1em;
}

.menu li {
  display: inline-block;
  list-style-type: none;
}

.menu li:hover {
  color: #f9c521;
}

.menu {
font-weight: bold;
text-align: center;
word-spacing: 120px;
color: #636363;
padding-top: 15px;
padding-bottom: 15px;
}

#menu-icon { display: none !important; }

/* .show {display: inline-block;} */

/* Código que se ejecutará sólo en pantallas más pequeñas que 1024px */
@media screen and (max-width: 1024px) {

  .menu li {
    display: block;
  }

  #menu-icon {
    display: inline !important;
    float:  right;
  }

  .menu li:not(:first-child) { display: none; }

  .show {display: block !important;}

}

.free {
  position: absolute;
  background-color: black;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  left: 50%;
  bottom: 10%;
  padding: 120px;
}

.free p {
  color: white;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.button BUTTON {
  background-color: #f8c420;
  margin-left: 100px;
  padding: 5px;
}

.portlan img {
  margin-top: 50px;
}

.portlan h2 {
  font-weight: bold;
}

.portlan li {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

.portlan {
  text-align: center;
}

.portlan h3 {
  font-weight: bold;
}

.portlan h3:hover {
  color: cyan;
}

.portlan i {
  padding-bottom: 15px;
}

.xek {
  background-color: #e9e9e9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.xek h4 {
  text-align: center;
}

.xek ul {
  list-style-type: none;
  font-size: 15px;
}

.xek li {
  color: grey;
  text-align: center;
}

.services {
  background-color: #454545;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services > ul {
list-style-type: none;
color: white;
font-weight: bold;
text-align: center;
font-size: 25px;
}

.porlan {
  color: grey;
  text-align: center;
  font-size: 16px;
}

.ccb {
  font-size: 12px;
  padding-top: 13px;
  text-align: left;
}

.wa {
  font-size: 12px;
  padding-top: 13px;
  text-align: left;
}

.ora {
  text-align: left;
}

.sat {
  text-align: left;
  color: grey;
  font-size: 16px;
}

.copy {
  background-color: #f8c420;
  letter-spacing: 10px;
  text-align: center;
  font-size: 15px;
  color: #454545;
  padding-top: 5px;
  padding-bottom: 5px;
}
